@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.News
@model IRenderingModel<INewsArticle, INewsArticle>
@if (Model.PageItem == null)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(NewsArticleConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
  return;
}

<div class="container">
  <div class="label label-info">
    <time>
      @Model.PageItem.NewsDate.Render(new { format = "MMMM dd, yyyy" })
    </time>
  </div>
  <h1>
    @Model.PageItem.NewsTitle
    @if (Model.PageItem.NewsSummary.HasValue || Sitecore.Context.PageMode.IsExperienceEditor)
    {
      <br/>
      <small>
        @Model.PageItem.NewsSummary
      </small>
    }
  </h1>
</div>