@using Sitecore.Feature.News
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.News
@model IRenderingModel<INewsArticle, INewsArticle>

@if (Model.PageItem == null)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(NewsArticleConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
  return;
}

<div class="thumbnail m-b-1">
  @Model.PageItem.NewsImage.Render(new { mw = 500} )
</div>