@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.PageContent
@model IRenderingModel<IHasPageContent, IHasPageContent>
@{
    const int DefaultColumns = 4;

    var children = Model.PageItem.Children<IHasPageContent>().Where(i => i.IsDerived(HasPageContentItemConstants.TemplateID) && i.HasContextLanguage()).ToArray();
    var numColumns = children.Length >= DefaultColumns ? DefaultColumns : (children.Length <= 2 ? 2 : children.Length);
}

<div class="block-grid-md-@numColumns block-grid-sm-@(numColumns-1) block-grid-xs-1">
    @foreach (var item in children)
    {
        var model = new RenderingModel<IHasPageContent, IHasPageContent>(item, item);
        <div class="block-grid-item">
            <div>
                @Html.Partial("/Views/PageContent/PageTeaser.cshtml", model)
            </div>
        </div>
    }
</div>