@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.PageContent
@model IRenderingModel<IHasPageContent, IHasPageContent>

@if (!Model?.PageItem?.IsDerived(HasPageContentItemConstants.TemplateID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(HasPageContentItemConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
  return;
}

@if (!Sitecore.Context.PageMode.IsExperienceEditor && !Model.PageItem.Body.HasValue)
{
  return;
}

<div class="m-b-2">
  @Model.PageItem.Body
</div>