@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.PageContent.HasPageContent
@model IRenderingModel<IHasPageContent, IHasPageContent>

@{
    var sectionModel = Model.PageItem.AncestorOrSelf<IHasPageContent>();
    if (sectionModel == null)
    {
        return;
    }
}

<div class="container m-b-1">
  <h1>
    @sectionModel.Title
    @if (sectionModel.Summary.HasValue || Sitecore.Context.PageMode.IsExperienceEditor)
    {
      <br/>
      <small>
        @sectionModel.Summary
      </small>
    }
  </h1>
</div>