@using Sitecore.Data
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Fortis.Foundation.CodeGen.Templates.Feature.PageContent.HasPageContent
@using Fortis.Model
@model IRenderingModel<IHasPageContent, IHasPageContent>

@if (!Model?.PageItem?.IsDerived(Static.ID) ?? true)
{
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Static.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
    return;
}
<header>
    <h1>
        @Model.PageItem.Title
    </h1>
    @if (Model.PageItem.Summary.HasValue || Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <div class="lead">
            @Model.PageItem.Summary
        </div>
    }
</header>