@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.PageContent.HasPageContent
@model IRenderingModel<IHasPageContent, IHasPageContent>

@if (!Model?.PageItem?.IsDerived(Static.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Static.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
  return;
}

@if (!Sitecore.Context.PageMode.IsExperienceEditor && !Model.PageItem.Image.HasValue))
{
  return;
}

<div class="article image">
  @Model.PageItem.Image.Render(new { @class = "img-responsive", mw = 1000 })
</div>