@using Sitecore.Feature.FAQ.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.FAQ
@model IRenderingModel<IFAQ, IFAQGroup>

@if (!Model?.RenderingItem?.IsDerived(FAQGroupItemConstants.TemplateID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(FAQGroupItemConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
  return;
}

@{
  var elements = FaqRepository.Get(Model.RenderingItem).ToArray();
}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  @foreach (var item in elements)
  {
    var id = Guid.NewGuid().ToString();
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingcollapse0">
        <div class="panel-title">
          <a role="button" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@id">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            @item.Question
          </a>
        </div>
      </div>
      <div id=@id class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingcollapse0">
        <div class="panel-body">
          @item.Answer
        </div>
      </div>
    </div>

    <!-- /.panel -->
  }
</div>