@using Sitecore.Feature.Metadata.Repositories
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.Metadata
@model IRenderingModel<IPageMetadata, IPageMetadata>

@if (!Model?.PageItem?.IsDerived(PageMetadataConstants.TemplateID) ?? true)
{
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(PageMetadataConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
    return;
}
@{
    //TODO: Move to Controller Rendering
    var title = Model.PageItem.BrowserTitle.Value;

    var siteMetadata = MetadataRepository.Get(Model.PageItem);
    if (siteMetadata != null)
    {
        title += " " + siteMetadata.SiteBrowserTitle.Value;
    }
}
<title>@title</title>
<meta name="keywords" content="@MetadataRepository.GetKeywords(Model.PageItem)"/>
<meta name="description" content="@Model.PageItem.MetaDescription"/>
@{
  if (!Model.PageItem.CanIndex.Value)
  {
    <meta name="robots" content="noindex"/>
  }
}