@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Fortis.Foundation.CodeGen.Templates.Feature.Navigation
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
  if (Model?.Items == null)
  {
    return;
  }
}

<ul class="nav nav-stacked">
  @foreach (var item in Model.Items)
  {
      var linkMenuItem = (ILinkMenuItem)item.Item;
      var navigableItem = (INavigable)item.Item;

      if (linkMenuItem.DividerBeforeValue)
      {
          <li class="divider"></li>
      }
      <li>
          <a href="@item.Url" target="@item.Target" title="@navigableItem.NavigationTitleValue">
              @if (!string.IsNullOrWhiteSpace(linkMenuItem.IconValue))
              {
                  <i class="fa fa-@linkMenuItem.IconValue"></i>
                  @:&nbsp;
              }

              <span>@navigableItem.NavigationTitle</span>
          </a>
      </li>
  }
</ul>