@using Sitecore.Feature.Identity.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.Identity
@model IRenderingModel<IItemWrapper, IItemWrapper>

@{
    var identity = IdentityRepository.Get(Model.PageItem);
    if (identity == null)
    {
        return;
    }
    //TODO: Resolve context site from item (implement in Foundation.Multisite)
    var homeUrl = Sitecore.Context.Site?.GetStartItem()?.Url() ?? "/";
    var hasTagline = identity.LogoTagline.HasValue;
}

<a class="navbar-brand @(hasTagline ? "has-tagline" : "")" href="@homeUrl">
  <span class="logo">
    @identity.Logo.Render(new { mh = 50 })
    @if (hasTagline)
    {
      <small class="tagline">@identity.LogoTagline</small>
    }
  </span>
</a>
