@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.Teasers
@model IRenderingModel<IItemWrapper, IHeadline>
@if (Model.RenderingItem == null)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(HeadlineConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
  return;
}

<div class="headline @Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.GetBackgroundClass()">
  <h2 class="text-center">
    @Model.RenderingItem.TeaserTitle
  </h2>
</div>
